.firecontainer {
    position: fixed;
    bottom: 0;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
}

.skull {
    position: fixed;
    left: 50%;
    transform: translateX(-50%) translateY(30%);
    bottom: 50%;
}
